{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Enter The Characters: </label>
                <input type="text" name="letter" class="form-control" required="required"><br>
            </div>
            <div class="form-group">
                <label>Enter the Exact lenght of Words you want to be displayed: </label>
                <input type="text" name="num" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name="Search" class="btn btn-primary" value="Search">
            </div>
        </form>
    </div>
</div>

{% endblock %}